*{
    margin: 0;
    padding: 0;
}
#div1{
    text-align: center;
    background-color: rgb(4,105,14);
    margin: 0 20px 0 0;
}
#div12{
    padding: 20px 20px 0 20px;
    color: white;
    display: flex;
    justify-content: center;
}
#div2{
    background-color: white;
    margin: 20px 500px 20px 500px;
    border-radius: 1%;
}
#div13{
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    width: 30%;
}
#div14{
    color: #85DED2;
    padding: 0 0 5px 0;
}
#div16{
    padding-bottom: 30px;
}
#div3{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
#div15{
    padding: 30px 0 10px 0;
}
#div6{
    display: flex;
    background-color: rgb(125, 125, 84);
    height: 100px;
    justify-content: center;
    align-items: center;
}
#div17,#div18,#div19{
    width: 20%;
}
#div7{
    border-right: 2px solid black;
}
#div8{
    border-right: 2px solid black;
}
#div20,#div21,#div22,#div23{
    display: flex;
    width: 30px;
    padding: 30px 30px 20px 0;
}
#div10{
    display: flex;
    justify-content: center;
}
#div11{
    padding: 30px 0 30px 0;
}
#div24{
    background-color: #11B671;
    padding: 10px 40px 10px 40px;
    color: white;
    border-radius: 4%;
    text-decoration: none;
}
#div25{
    color: white;
    padding: 20px 20px 0 20px;
    justify-content: center;
    align-content: center;
    padding: 20px 0 20px 0;
}
#div26{
    color: black;
}


